.blueblock {
  position: relative;
}
.blueblock__block {
  position: absolute;
}
.blueblock__playerlist {
  position: absolute;
  transform: translate(40px, 140px);
  font-family: 'PaytoneOne';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
}
#teambluename {
  position: absolute;
  z-index: 5;
  height: 50px;
  width: 250px;
  color: white;
  font-weight: 600;
  padding: 0px 5px !important;
  transform: translate(-450px, 60px);
}
.blueblock__teamname {
  z-index: 5 !important;
  color: white;
  font-weight: 800;
  transform: translate(215px, 75px);
}
ul,
li {
  list-style: none;
}
ul {
  height: 250px;
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1600px), screen and (max-height: 900) {
  .blueblock > img {
    width: 600px;
    height: 413px;
  }
  #teambluename {
    height: 45px;
    width: 230px;
    transform: translate(-425px, 55px);
  }
  .blueblock__teamname {
    transform: translate(-400px, 65px);
  }
  .blueblock__ul {
    transform: translate(-20px, -50px);
    height: 180px;
    width: 450px;
  }
}
@media only screen and (max-width: 1400px), screen and (max-height: 800px) {
  .blueblock > img {
    width: 548px;
    height: 361px;
  }
  .blueblock__teamname {
    transform: translate(-315px, 45px);
  }
  .blueblock__playerlist {
    font-size: 16px;
    line-height: 20px;
  }
  .blueblock__ul {
    height: 200px;
    width: 500px;
    transform: translate(-15px, -32px);
  }
}
@media only screen and (max-width: 1366), screen and (max-height: 768px) {
  #teambluename {
    height: 30px;
    padding-bottom: 5px !important;
    width: 200px;
    transform: translate(-360px, 45px);
  }
}
@media only screen and (max-width: 1024px), screen and (max-height: 800px) {
  .blueblock > img {
    width: 500px;
    height: 313px;
  }
  #teambluename {
    height: 30px;
    padding-bottom: 5px !important;
    width: 200px;
    transform: translate(-360px, 45px);
  }
  .blueblock__ul {
    transform: translate(-20px, -50px);
    height: 180px;
    width: 450px;
  }
}
