/* body {
  background: url("../images/map1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.end__text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -62.4px;
  margin-left: -128.69px;
}
.end__btn {
  background: url("../images/button.png") no-repeat;
}
