.gusser__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  background: url('../images/bglogo.webp');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.round__number {
  background: url('../images/timer.svg');
  font-family: 'PaytoneOne';
  height: 45px;
  width: 170px;
  color: white;
  font-size: 20px;
  padding: 5px 0 4px 15px;
  margin-top: 250px;
  margin-left: 265px;
}
.guesser__title {
  position: absolute;
  color: #9b5825;
  font-family: 'PaytoneOne';
  top: 110px;
  top: 110px;
  right: 475px;
}
.gusser__teamranks {
  background: url('../images/teamrank.svg') no-repeat;
  position: absolute;
  width: 306px;
  height: 60px;
  top: 15%;
  right: 20%;
}
.gusser__teamranks > h3 {
  font-family: 'PaytoneOne';
}
.gusser__hints {
  display: flex;
  justify-content: space-evenly;
  font-family: 'PaytoneOne';
  height: 126px;
  width: 592px;
  position: absolute;
  left: 50%;
  margin-left: -296px;
  top: 50%;
  margin-top: -150px;
  border: 3px solid #68360f;
  border-radius: 8px;
  background: linear-gradient(92.17deg, #d38a31 16.61%, #c76f21 87.7%);
}
.row1,
.row2 {
  width: 592px;
}
#chance-msg {
  width: 100%;
  margin-left: -180px;
}
.gusser__enterdiv {
  position: absolute;
  font-family: 'PaytoneOne';
  /* text-align: center; */
  left: 50%;
  margin-left: -233.5px;
  top: 50%;
}
.gusser__enterbtn {
  background: url('../images/button.png') no-repeat;
  color: white;
  font-family: 'caesar';
  font-size: 25px;
  width: 400px;
  height: 110px;
  border: none;
}
.gusser__timer {
  position: absolute;
  width: 100px;
  top: 129px;
  left: 286px;
}
.gusser__timer h3 {
  font-family: 'PaytoneOne';
  transform: translate(-73px, -42px);
  color: white;
}
.modal {
  background-image: url('../images/POPUP_SCREEN_BG.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.modal-content {
  background-image: url('../images/Popover/BG.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
