.gusser{
  background: url("../images/map1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gusser__back {
  position: absolute;
  top: 15%;
  left: 20%;
  cursor: pointer;
}
.gusser__teamranks {
  background: url("../images/teamrank.svg") no-repeat;
  position: absolute;
  width: 306px;
  height: 60px;
  top: 15%;
  right: 20%;
}
.gusser__teamranks > h3 {
  font-family: "PaytoneOne";
}
.gusser__hints {
  display: grid;
  place-items: center;
  font-family: "PaytoneOne";
  height: 126px;
  width: 592px;
  position: absolute;
  left: 50%;
  margin-left: -296px;
  top: 50%;
  margin-top: -150px;
  border: 3px solid #68360f;
  border-radius: 8px;
  background: linear-gradient(92.17deg, #d38a31 16.61%, #c76f21 87.7%);
}
.row1,
.row2 {
  width: 592px;
}
.gusser__enterdiv {
  position: absolute;
  font-family: "PaytoneOne"; 
  text-align: center;
  left: 50%;
  margin-left: -233.5px;
  top: 50%;
}
.gusser__enterbtn {
  background: url("../images/button.png") no-repeat;
}
.gusser__timer {
  position: absolute;
  width: 125px;
  top: 45%;
  right: 20%;
}
.gusser__timer h3 {
  font-family: "PaytoneOne"; 
  transform: translate(-90px, -53px);
  color: white;
}
