.ad {
  background: url("../images/map1.png") !important;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ad__submit {
  background: url("../images/button.png") no-repeat;
}