/* body {
  background: url("../images/map3.svg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
.point__board {
  position: absolute;
  left: 50%;
}
