.red__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  background: url("../images/map1.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.red__enterhint {
  font-family: "PaytoneOne";
  position: absolute;
  top: 50%;
  margin-top: -105.8px;
  left: 50%;
  margin-left: -233.5px;
}
.red__enterbtn {
  background: url("../images/button.png") no-repeat;
}
.red__timer {
  position: absolute;
  width: 125px;
  top: 45%;
  right: 20%;
}
.red__timer h3 {
  font-family: "PaytoneOne";
  transform: translate(-90px, -53px);
  color: white;
}
.red__teamranks {
  font-family: "PaytoneOne";
  background: url("../images/teamrank.svg") no-repeat;
  position: absolute;
  width: 306px;
  height: 60px;
  top: 15%;
  right: 20%;
}
