.red__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  background: url('../images/map.webp');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.red__enterhint {
  font-family: 'PaytoneOne';
  position: absolute;
  top: 50%;
  margin-top: -105.8px;
  left: 50%;
  margin-left: -233.5px;
}
.red__enterbtn {
  background: url('../images/button.png') no-repeat;
  color: white;
  font-family: 'caesar';
  font-size: 25px;
  width: 400px;
  height: 110px;
  border: none;
}
.red__timer {
  position: absolute;
  width: 100px;
  top: 129px;
  left: 286px;
}
.red__timer h3 {
  font-family: 'PaytoneOne';
  transform: translate(-73px, -41px);
  color: white;
}
.red__teamranks {
  font-family: 'PaytoneOne';
  background: url('../images/teamrank.svg') no-repeat;
  position: absolute;
  width: 306px;
  height: 60px;
  top: 15%;
  right: 20%;
}
