.blue__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  background: url('../images/bglogo.webp');
  height: 100%;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.blue__enterhint {
  font-family: 'PaytoneOne';
  position: absolute;
  top: 50%;
  margin-top: -105.8px;
  left: 50%;
  margin-left: -233.5px;
}
.blue__wait {
  margin-top: 20%;
  font-family: 'PaytoneOne';
}
.blue__enterbtn {
  background: url('../images/button.png') no-repeat;
  color: white;
  font-family: 'caesar';
  font-size: 25px;
  width: 400px;
  height: 110px;
  border: none;
}
.blue__timer {
  position: absolute;
  width: 100px;
  top: 129px;
  left: 286px;
}
.blue__timer h3 {
  font-family: 'PaytoneOne';
  transform: translate(-73px, -41px);
  color: white;
}
.blue__rank {
  position: absolute;
  top: 150px;
  right: 200px;
}
.blue__blue {
  font-family: 'PaytoneOne';
  background: url('../images/teamrank.svg') no-repeat;
  width: 306px;
  height: 60px;
  margin-bottom: 10px;
}
.blue__red {
  font-family: 'PaytoneOne';
  background: url('../images/teamrank.svg') no-repeat;
  width: 250px;
  height: 60px;
  background-size: 250px;
  padding-bottom: 12px;
  transform: translateX(20px);
}
.round__number {
  background: url('../images/timer.svg');
  font-family: 'PaytoneOne';
  height: 45px;
  width: 170px;
  color: white;
  font-size: 20px;
  padding: 5px 0 4px 15px;
  margin-top: 250px;
  margin-left: 265px;
}
@media only screen and (max-width: 1280px), screen and (max-height: 720px) {
  .blue__timer {
    width: 75px;
    top: 100px;
    left: 150px;
  }
  .blue__timer h3 {
    transform: translate(-60px, -30px);
    font-size: 24px;
  }
  .blue__rank {
    top: 75px;
    right: 80px;
  }
  .round__number {
    margin-top: 200px;
    margin-left: 110px;
  }
}
@media only screen and (max-width: 1440px), screen and (max-height: 900px) {
  .blue__timer {
    width: 75px;
    top: 100px;
    left: 100px;
  }
  .blue__timer h3 {
    transform: translate(-58px, -29px);
    font-size: 24px;
  }
  .round__number {
    margin-top: 200px;
    margin-left: 60px;
  }
  .blue__rank {
    top: 100px;
    right: 60px;
  }
}
@media only screen and (max-width: 1360px), screen and (max-height: 682px) {
}
@media only screen and (max-width: 1024px), screen and (max-height: 800px) {
  .blue__rank {
    top: 100px;
    right: 25px;
  }
  .blue__timer {
    width: 75px;
    top: 100px;
    left: 75px;
  }
  .round__number {
    margin-top: 200px;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 1024px), screen and (max-height: 600px) {
  .blue__enterbtn {
    width: 300px;
    height: 75px;
    padding-top: 3px;
    background-size: 300px;
  }
}
