/* body {
  background: url("../images/map1.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
} */
.lobby__bg {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
  background: url("../images/map1.png");
  height: 100%;
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.lobby__back {
  position: absolute;
  cursor: pointer;
  top: 15%;
  left: 20%;
}
.lobby__teamtable {
  position: absolute;
  width: 75rem;
  top: 35%;
  left: 50%;
  margin-left: -36rem;
}
.lobby__redteam {
  background: url("../images/join.png") no-repeat;
  cursor: pointer;
  border: none;
  height: 25px;
  width: 65px;
  position: absolute;
  z-index: 3 !important;
  top: 55px;
  transform: translateX(450px);
}
.lobby__blueteam {
  background: url("../images/join.png") no-repeat;
  cursor: pointer;
  border: none;
  height: 25px;
  width: 65px;
  position: absolute;
  z-index: 3 !important;
  top: 55px;
  transform: translateX(1028px);
}
.lobby__startbtn {
  background: url("../images/button.png") no-repeat;
  transform: translateX(370px);
}
.lobby__codediv {
  background: url("../images/copy_code.svg") no-repeat;
  position: absolute;
  display: grid;
  place-items: center;
  height: 45px;
  width: 165px;
  cursor: pointer;
  transform: translate(30rem, -2.5rem);
  border-radius: 20px;
}
.lobby__code {
  font-family: "caesar";
  font-weight: bolder;
  font-size: 25px;
  color: #9b5825;
  letter-spacing: 2px;
  transform: translate(-15px, -1px);
}
/* .lobby__teamname {
    font-family: Paytone One;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.05em;
    text-align: left;
    
} */

.disabled:hover {
  cursor: not-allowed !important;
}